body {
	font-family: Arial, sans-serif;
	/*margin : auto;
	width : 100%;*/
	background-image: url("../images/background2.png");
	background-size: 100% 100%;
	background-attachment: fixed;
}

#body_accueil {
	font-family: Arial, sans-serif;
	background-image: url("../images/background.png");
	background-size: 100% 100%;
	background-attachment: fixed;
}



/* HEADER */

header {
	display: flex;
}

.logo {
	display: flex;
	margin-left: 0.5em;
	margin-bottom: 0.7em;
}

.logo img {
	padding-top: 1em;
	width: 300px;
	height: 100px;
}


nav {
	display: flex;
}


/* - - MENU ACCORDEON - - */

#menu-accordeon{
	position : relative;
	margin-top: 4em;
	/*justify-content: space-around;*/
	margin-left : 108px;
	/*width : 900px;
	height : 10%;*/
}

#menu-accordeon, #menu-accordeon ul{
padding:0;
list-style:none;
text-align:center;
height: 50px;
width: 900px;
}


#menu-accordeon li{
	float: left;
/*display : inline-block;*/
/*position:relative;
margin-left : 25px;
margin-left : 25px;*/
background-color: #729EBF;
/*background-image: -webkit-linear-gradient(top, #64809A 0%, #30ABDD 100%);*/
background-image:linear-gradient(to bottom,  #DBEAE9 0%, #7B8EA1 100%);
/*border-radius:8px 8px 0 0;*/
}


#menu-accordeon a{
text-decoration:none;
display:block;
/*padding:8px 32px;*/

background-image: url(navi_bg_divider.png);
background-repeat: no-repeat;
background-position: right;
padding-right: 70px;
padding-left: 70px;
line-height: 50px;
font-size: 21px;
color: #314367;
border-radius: 10px;
}

.radiusl {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-right: 1px solid #64809A;
}

#reglage {
	border-right: 1px solid #64809A;
}

.divider {
	border-right: 1px solid #64809A;
}

.radiusr {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#menu-accordeon li:hover{
background:#BDCCD3;
}

/*#menu-accordeon ul li:hover{
border-radius:0;
}
#menu-accordeon ul li:last-child{
border-radius:0 0 8px 8px;
}

#menu-accordeon ul li{
position : relative;
left : -25px;
width : 100%;
border-radius:0;
}

#menu-accordeon ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu-accordeon li:hover ul{
max-height:15em;
}
/* background des liens menus 


/* background des liens sous menus 
#menu-accordeon li li{
background:#333A40;
}
/* background des liens menus et sous menus au survol 


#menu-accordeon li li:hover{
 	background: #999;
 }

/* les a href 

#menu-accordeon ul a{
padding:8px 0;
}
#menu-accordeon li:hover li a{
color:#fff;
}
#menu-accordeon li:hover a, #menu-accordeon li li:hover a{
color:#000;
}*/





/* CONTENU */

#contenu{
	/*width: 65%;
    margin-left:25%;
    min-height: 50%;*/
    /*margin-left:200px;*/
    display: flex;
	justify-content:center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	word-wrap : break-word;
	/*margin-right:2em;
	margin-left:2em;*/
	margin : auto;
	/*width: 60%;*/
	color: black;
	width: 900px;
	height: 630px;
	margin-top: 2em;
	background-color: rgba(165,191,200,0.6);
	overflow: auto;

}

/* CONTENU ACCUEIL */
#contenua{
	/*width: 65%;
    margin-left:25%;
    min-height: 50%;*/
    min-height:400px;
    /*margin-left:200px;*/
    display: flex;
	justify-content:center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	word-wrap : break-word;
	/*margin-right:2em;
	margin-left:2em;*/
	margin : auto;
	/*width: 60%;*/
	color: black;
}



.titre_bienvenue {
	/*text-shadow: 2px 2px 10px #000000;*/
	font-size: 2em;
	border-top: black solid;
	border-bottom: black solid;
}

.titre_bienvenue_erreur {
	font-size: 2em;
	border-top: black solid;
	border-bottom: black solid;
}

.titre_bienvenue_success {
	font-size: 2em;
	border-top: black solid;
	border-bottom: black solid;
}
#grille_pieces {
	padding: 3em;
	display: flex;
	justify-content: space-between;
	/*width: 8em;
	height: 15em;*/
	flex-wrap: wrap;
}

#grille_pieces a {
	color: white;
	text-decoration: none;
	font-size: 1.5em;
}


.piece_grille {
	width: 8em;
	height: 8em;
	margin-top : 1em;
    background-color: #607C96;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
a .piece_grille table
{
	color : white;
	text-decoration: none;
	font-size: 1.1em;
	text-align: center;
}
/*.piece_grille a {
	color: white;
	text-decoration: none;
	font-size: 1.5em;
}*/

.piece_grille:hover {
	width: 8.1em;
	height: 8.1em;
    background-color: #359AD8;
    box-shadow: 2px 2px 2px black;
}

/*form
{
	width :21em;
}*/





/* ASIDE/TABLEAU DE BORD */



/*<<<<<<< HEAD*/
/*aside {
	border: 2px solid pink;
=======
aside {
	border: 2px;
>>>>>>> origin/master
}
#aside
{
	border: 2px;
	
}*/
/*#tdb {
	width: 16.1em;
	height: 10em;
	padding: 1em;
	margin-left: 1.3em;
	margin-top: 2em;
	background-color: rgba(165,191,200,0.8);
}*/

#tableau_tdb {
	color: #314367;
	/*width: 16.1em;
	height: 10em;*/
	padding: 1em;
	margin-left: 1.3em;
	margin-top: 2em;
	background-color: rgba(165,191,200,0.8);
}

td[colspan="2"] {
	text-align: center;
	font-weight: bold;
	border-bottom: solid #64809A 2px;
}


.critere {
	padding: 1.5em;
}

#corps{
	display : flex;
	/*flex-wrap: wrap;*/
}


/* - - MENU CAPTEURS - - */


#menu_capteurs {
	border: 2px;
	width: 16.1em;
	height: 16em;
	float: bottom left;
}

.liste_capteurs {
	width: 16.1em;
	margin-top: 3em;
	background-color: rgba(165,191,200,0.8);
	margin-left: 1.3em;
	padding: 1em;
}

.liste_capteurs ul {
	list-style-type: none;
	
}

.liste_capteurs li{
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 1em;
	background-color: rgb(100,128,154);
	position: relative;
	right:10%;
	padding: 0.6em;
}

.liste_capteurs li:hover {
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 1em;
	background-color: rgb(100,128,154);
	position: relative;
	right:10%;
	padding: 0.8em;
}


.liste_capteurs a {
	text-decoration: none;
	color: white;
}


#tableau_bouton_inscription{

}



/*PIED */

footer{
	display : flex;
	justify-content: center;
	margin-top : 6em;
	border-top : black solid 1px;
	width : 90%;
	margin-left : auto;
	margin-right: auto;
	text-shadow: 3px 3px 2px #FFFFFF;
}
footer div{
	
	padding : 1em;
	margin-right: 2em;
}

#contact_pied ul, #mentions_pied ul{
	list-style: none;
	padding-left: 0px;

}

#contact_pied li, #mentions_pied li {
	line-height: 1.5em;	

}

#contact_pied a, #mentions_pied a {
	color: black;
	text-decoration: none;
}

#reseaux a {
	margin-right: 1em;
}





/*- - - -  - - - - - - - - - - - - - - -  - - - - - -  - - -  - -*/


/* PAGE CAPTEUR COMMUN */

#nom_piece {
	display: flex;
	margin-top: 0px;
}

#grille_capteur {
	display: flex;
}





/* MENU INSCRIPTION ADMIN */

#tableau_inscription {
	width: 120%;
	text-align: left;
	background-color: rgba(255,255,255,0.3);
	padding:3em;
}

#tableau_inscription label {
	color: black;
}

#tableau_inscription h1 {
	text-align: center;
}




/*#inscription {
	display: flex;
	justify-content: center;
	position: relative;
	right: 20%;
}*/









/* FORMULAIRE EDITION PROFIL */

 #menu_editionprofil ul {
	list-style-type: none;
	display: flex;
	width: 50em;
	margin-left: 5em;
	margin-right: 10em;
	padding: 10px;
	border-radius: 20px;
	background-color: #30ABDD;
	border : 2px solid black
}

#menu_editionprofil li {
	border: 2px solid black;
	border-radius: 20px;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	padding: 1.5em;
	background-color: white;
	color: black;
	text-decoration: none;

}

.tableau_connexion {
	margin-left: 500px;
	padding: 2.3em;
	/*margin-left: auto;
	margin-right: auto;*/
}

/*#tableau_inscription td, #tableau_connexion td {
	text-align: right;
}*/

#connexion {
	display: flex;
	justify-content: center;
	position: relative;
	right: 10%;
}

input[type=email] {
	border: solid #3C99D7 1.7px;
}

input[type=password] {
	border: solid #3C99D7 1.7px;
}

input[name=n_serie] {
	border: solid #3C99D7 1.7px;
}

input[name=formconnexion] {
	color : white;
	background-color: #3C99D7;
	border: 1px #3C99D7 solid;
	border-radius: 5px;
}

input[name=bouton_inscription] {
	border: 1px #3C99D7 solid;
	border-radius: 5px;
	background-color: white;
}



#msg_erreur {
	text-align: center;
}








/* NEWS LETTER */

.news {
	border: 2px solid black;
	border-radius: 30px;
	background-color: SkyBlue;
	text-align: justify;
}






/* S.A.V */

#sav {
	border: 2px solid black;
	border-radius: 30px;
	background-color: #30ABDD;
	text-align: justify;
}

/*.test{
	background-color: #427396;
}*/

.test_2{

	background-color: #999;

}

#table_capteurs td{
	border: solid black 2px;
}

#table_capteurs tr{
	border: solid black 2px;
}

#cgu {
	padding: 2em;
}

#choix_logo{
	display : flex;
}


#tableau_parametrage_pieces
{
	margin : auto;
}