#contenuc {
    text-align: center;
    margin-left: 27em;
    color: black;
    width: 880px;
    height: 590px;
    margin-top: 30px;
    background-color: rgba(165,191,200,0.6);
    overflow: auto;
    position: absolute;
}

h1 {
    color: #314367;
    text-align: center;
}
input[type="range"] {
    -webkit-appearance: none;
    width : 20em;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #359AD8;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #359AD8;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #359AD8;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #359AD8;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #359AD8;
}
input[type=range]::-ms-fill-upper {
  background: #359AD8;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #359AD8;
}

input[type="range"]:after, input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}

input[type="range"]:before {
    left:0em;
    content: attr(min);
}

input[type="range"]:after {
    right: 0em;
    content: attr(max);
}

.temperature {
    color: #314367;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.couleur {
    color: #314367;
    font-size: 20px;
}

.cadre {
    width: 40%;
    height: 440px;
    margin: auto;
    background-color: rgb(100,128,154);
    padding-top: 1.5em;
}

.tablecapteur {
    padding-left: 1.7em;
    text-align: right;
}

button[onclick="scenario()"] {
    background-color: #314367;
    border: solid #314367 2px;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    width: 150px;
    height: 35px;
}

button:hover {
    background-color: #314367;
    border: solid #314367 2px;
    color: white;
    border-radius: 10px;
    width: 155px;
    height: 40px;
}

input[name="allumer"] {
  background-color: #56718F;
  border: solid #314367 2px;
  color: white;
  font-size: 1em;
  width: 100px;
  height: 35px;
}

input[name="allumer"]:hover {
  background-color: #56718F;
  border: solid #23A62E 3px;
  color: #23A62E;
  font-size: 1em;
  width: 100px;
  height: 35px;
}

input[name="eteindre"] {
  background-color: #56718F;
  border: solid #314367 2px;
  color: white;
  font-size: 1em;
  width: 100px;
  height: 35px;
}

input[name="eteindre"]:hover {
  background-color: #56718F;
  border: solid #C41616 3px;
  color: #C41616;
  font-size: 1em;
  width: 100px;
  height: 35px;
}

input[name="form_scroll_chauffage"] {
  background-color: #56718F;
  border: solid #314367 2px;
  color: white;
  font-size: 1em;
  width: 100px;
  height: 35px;
}

input[name="form_scroll_chauffage"]:hover {
  background-color: #56718F;
  border: solid #359AD8 3px;
  color: #359AD8;
  font-size: 1em;
  width: 100px;
  height: 35px;
}

input[name="ouvrir"] {
  background-color: #56718F;
  border: solid #314367 2px;
  color: white;
  font-size: 1em;
  width: 100px;
  height: 35px;
}

input[name="ouvrir"]:hover {
  background-color: #56718F;
  border: solid #23A62E 3px;
  color: #23A62E;
  font-size: 1em;
  width: 100px;
  height: 35px;
}

input[name="fermer"] {
  background-color: #56718F;
  border: solid #314367 2px;
  color: white;
  font-size: 1em;
  width: 100px;
  height: 35px;
}

input[name="fermer"]:hover {
  background-color: #56718F;
  border: solid #C41616 3px;
  color: #C41616;
  font-size: 1em;
  width: 100px;
  height: 35px;
}



.onoffswitch {
    margin: auto;
    position: relative; width: 89px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 26px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 37px; padding: 0; line-height: 37px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #359AD8; color: #FFFFFF;
    text-align: left;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 37px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 48px;
    border: 2px solid #999999; border-radius: 26px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

input[name='formscenario_lampe'] {
    background-color: #314367;
    border: solid #314367 2px;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    width: 150px;
    height: 35px;
}

input[name='formscenario_lampe']:hover {
    background-color: #314367;
    border: solid #314367 2px;
    color: white;
    border-radius: 10px;
    width: 155px;
    height: 40px;
}

input[name='formscenario_chauffage'] {
    background-color: #314367;
    border: solid #314367 2px;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    width: 150px;
    height: 35px;
}

input[name='formscenario_chauffage']:hover {
    background-color: #314367;
    border: solid #314367 2px;
    color: white;
    border-radius: 10px;
    width: 155px;
    height: 40px;
}

input[name='formscenario_volet'] {
    background-color: #314367;
    border: solid #314367 2px;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    width: 150px;
    height: 35px;
}

input[name='formscenario_volet']:hover {
    background-color: #314367;
    border: solid #314367 2px;
    color: white;
    border-radius: 10px;
    width: 155px;
    height: 40px;
}

input[name='formscenario_alarme'] {
    background-color: #314367;
    border: solid #314367 2px;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    width: 150px;
    height: 35px;
}

input[name='formscenario_alarme']:hover {
    background-color: #314367;
    border: solid #314367 2px;
    color: white;
    border-radius: 10px;
    width: 155px;
    height: 40px;
}





/* TEST PAGE CAPTEUR COMMUN */

#sous_contenu {
    margin : auto;
    padding: auto;
    /*display : flex;
    flex-direction: column;
    justify-content : center;*/
}